.Rotation img{
    margin-left: 45%;
   
}

.Equator{
    margin-left: 50%;
   
}

.Equators{
    margin-left: 54%;
   
}

.Memories img{
    justify-content: center;
    flex: 15%;
    margin: center;
    margin-right: 45%;
}

.Baby{
    color: rgb(255, 91, 91);
}

.FFr{
    color: rgb(255, 91, 239);
}

.FFo{
    color: rgb(255, 91, 170);
}

.Balina{
    color: rgb(43, 0, 234);
}

.Exot{
    color: rgb(118, 118, 118);
}

.Onnet{
    color: rgb(255, 0, 200);
}

.On_On{
    color: rgb(0, 123, 255);
}
